// - - - - - - - - - - - - - - - - - - -
// - - utilities
// placeholders extends, mixins, functions, and utility classes


// - - - - - - - - - - - - - - - - - - -
// - - placeholder extends

// - - clearfixes

%clearfix:before,
%clearfix:after {
  content: " ";
  display: table;
}

%clearfix:after {
  clear: both;
}

%clearfix {
  *zoom: 1;
}


// - - - - - - - - - - - - - - - - - - -
// - - mixins


// - - - - - - - - - - - - - - - - - - -
// - - media queries map and breakpoints

// - - attention
// adds accessibility pseudo selectors to hover states.
// @mixin attention() {
//   &:hover,
//   &:active,
//   &:focus {
//     @content;
//   }
// }


// - - - - - - - - - - - - - - - - - - -
// - - functions


// - - - - - - - - - - - - - - - - - - -
// - - utilities

.u-tac {
  text-align: center;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-display-block {
  display: block;
}

.u-display-inline-block {
  display: inline-block;
}
